<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="defaultJsonFile" xsi:type="File"
            layout="${longdate} ${logger} ${message}"
            fileName="${basedir}/${shortdate}.json.log"
            archiveFileName="${basedir}/log-archives/log.${shortdate}-{#####}.json.log"
            archiveEvery="Day"
            archiveAboveSize="67108864"
            archiveNumbering="Sequence"
            concurrentWrites="false"
            keepFileOpen="true"
            maxArchiveFiles="5"
            deleteOldFileOnStartup="false"
            createDirs="true" >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="correlationId" layout="${event-properties:item=correlationId}" />
        <attribute name="action" layout="${event-properties:item=action}" />
        <attribute name="source" layout="${callsite}" />
        <attribute name="parameters" layout="${event-properties:item=parameters}" encode="false" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="defaultJsonFile" />
  </rules>
</nlog>